__pycache__/
.vscode
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
*.db
*.sqlite3
data/employee.db
.DS_Store
data/uploaded_cvs/*
!data/uploaded_cvs/.gitkeep
abc/
.streamlit
.data/profile_photos/*
!data/profile_photos/.gitkeep